@charset "UTF-8";
body {
  font-family: "Lantinghei TC", Hiragino Kaku Gothic Pro, Heiti TC, "微軟正黑體", "STHeiti Light", "Microsoft Yahei", "Microsoft JhengHei", Helvetica, sans-serif; }

#content {
  height: 200px; }

.loading {
  margin: 0 auto; }
